apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: government-api
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd-image-updater.argoproj.io/image-list: government-api=<ECR_REGISTRY>/government-api
    argocd-image-updater.argoproj.io/government-api.update-strategy: digest
    argocd-image-updater.argoproj.io/government-api.allow-tags: regexp:^[0-9a-f]{7}-[0-9]+$
    argocd-image-updater.argoproj.io/write-back-method: git
spec:
  project: default
  source:
    repoURL: https://github.com/michealken30/loan-app-config
    targetRevision: main
    path: helm/government-api
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: government-api
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - Validate=true
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
        - /spec/replicas
  info:
    - name: "Description"
      value: "Government API service for loan applications"
