replicaCount: 1

image:
  repository: otel/opentelemetry-collector-contrib
  tag: "0.86.0"
  pullPolicy: IfNotPresent

serviceAccount:
  create: true
  name: observability-sa
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::<ACCOUNT_ID>:role/observability-role

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 10001
  fsGroup: 10001
  seccompProfile:
    type: RuntimeDefault

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 10001
  capabilities:
    drop:
      - ALL

service:
  type: ClusterIP
  ports:
    otlpGrpc: 4317
    otlpHttp: 4318
    health: 13133

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

# externalSecrets:
#   enabled: true
#   secretStore:
#     name: aws-secrets-manager
#     kind: SecretStore

networkPolicy:
  enabled: true
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              name: loan-validator-portal
      ports:
        - protocol: TCP
          port: 4317
        - protocol: TCP
          port: 4318
  egress:
    - to: []
      ports:
        - protocol: TCP
          port: 443
    - to:
        - namespaceSelector: {}
      ports:
        - protocol: TCP
          port: 53
